@model emsproject23.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.DomainName)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.DomainName)
        </dd>
        <dt class="col-sm-2 mb-3">
            Email
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayNameFor(model => model.LogoURI)
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.LogoURI)
        </dd>
        <dt class = "col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.IsToBeDeleted)
        </dt>
        <dd class = "col-sm-10" hidden>
            @Html.DisplayFor(model => model.IsToBeDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>  | 
    <a asp-action="Index">Back to List</a>
</div>
