@model emsproject23.Models.User
@using emsproject23.Controllers


@{
    ViewData["JobTitle"] = "Create a new user";

    if (TempData["UserExistError"] != null)
    {
        <label class="text-danger">@TempData["UserExistError"]</label>
    }
    if (TempData["CreateMessageFail"] != null)
    {
        <label class="text-danger">@TempData["CreateMessageFail"]</label>
    }
}

<h1>@ViewData["JobTitle"]</h1>
<h4>User </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="FirstName" class="control-label">First Name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" value="temp@temp.ie"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="JobTitle" class="control-label">Job Title</label>
                @Html.DropDownList("JobTitle",ViewModelData.GetJobTitlesSelectList(),"Select",new {@class = "form-control"})
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="ManagerEmail" class="control-label">Manager's Email</label>
                @Html.DropDownList("ManagerEmail",ViewModelData.GetUsersManagerEmailsSelectList(),"Select",new {@class = "form-control"})
                <span asp-validation-for="ManagerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="LeaveEntitement" class="control-label">Leave Entitement</label>
                @Html.DropDownList("LeaveEntitement",ViewModelData.GeGetLeaveAllowancesSelectList(),"Select",new {@class = "form-control"})
                <span asp-validation-for="LeaveEntitement" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="LeaveTaken" class="control-label">Leave Taken</label>
                <input asp-for="LeaveTaken" class="form-control" value="0" />
                <span asp-validation-for="LeaveTaken" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="SickLeaveTaken" class="control-label">Sick Leave Taken</label>
                <input asp-for="SickLeaveTaken" class="form-control" value="0"/>
                <span asp-validation-for="SickLeaveTaken" class="text-danger"></span>
            </div>
            <div class="form-group form-check" hidden>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsUserLoggedIn" /> @Html.DisplayNameFor(model => model.IsUserLoggedIn)
                </label>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAdmin" /> Admin User
                </label>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsManager" /> Is a Manager
                </label>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsCEO" /> Is the CEO
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
